/* Adequar a página para dispositivo com telas inferiores a 600px de largura */

@media screen and (max-width: 600px) {
  html{
    font-size: 100%;
  }

  header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header label.profile_name {
    margin: 5%;
  }

  nav.btns ul {
    display: flex;
    flex-direction: row;
  }

  nav.btns ul li {
    margin: 25px 10px;
    list-style: none;
  }

  table.gostos {
    margin-top: 15%;
    width: 130%;
    position: relative;
    right: 15%;
  }

  section.highlights {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  section.highlights div.item {
    padding: 5%;
    width: 80%;
  }

  section {
    margin: 10% auto;
  }

  h3 {
    margin-top: 15%;
  }

  p {
    margin: 2% auto;
  }
}
