/* Importação do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: #000;

  background-color: #fff;

  overflow-x: hidden;
}

header,
footer {
  padding: 50px;
  height: fit-content;
  margin: 0 auto;

  text-align: center;

  background-color: #000;
  color: #fff;
}

header section.profile {
  display: flex;

  flex-direction: column;
  align-items: center;
}

header img.profile_pic {
  /* cortar a imagem com 90px por 90px */
  image-rendering: pixelated;
  width: 90px;

  border: 1px solid #fff;
  border-radius: 50%;

  z-index: 1000;

  transition: all 0.25s;
}

div.picture.active img.profile_pic {
  position: absolute;
  right: calc(50% - 45px);
  top: calc(50% - 45px);

  transform: scale(3);

  border: none;
  border-radius: 0;
}

div.picture.active::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;

  background-color: #000000BA;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

div.picture.active::after {
  content: "";

  display: block;

  width: 90px;
  height: 90px;

  border: 1px solid #fff;
  border-radius: 50%;

  /* imagem padrão do gravatar */
  background-image: url('https://www.gravatar.com/avatar/?s=90&d=mp');
  background-size: 90px;
}

header label.profile_name {
  font-size: 18pt;
  font-weight: 200;
}

header div.profile_tags {
  margin: 1% 0;
}

nav ul {
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;

  transition: all 0.5s;
}

nav.profile_tags ul li {
  margin: 5px 10px;
  list-style: "#";
}

table.gostos {
  width: 50%;
  margin: 0 auto;

  border: 1px solid #000;
  border-collapse: collapse;
  border-spacing: 0;

  transition: all 0.5s;
}

table.gostos tr td {
  width: 50%;

  padding: 10px;

  border: 1px solid #000;
  border-bottom: none;
  border-top: none;
}

table.gostos thead tr th {
  padding: 10px;
  text-align: center;
  background-color: #000;
  color: #fff;
}

section.highlights {
  width: 100vw;

  position: relative;
  right: 15vw;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section.highlights div.item {
  width: 40%;
  margin: 1%;
  padding: 2%;

  display: flex;
  flex-direction: column;

  background-color: #000;
  color: #fff;

  transition: all 0.5s 125ms;
}

div.item:hover {
  transform: translateY(-2%);

  color: #fff;
  background-color: #000;
}